.primaryNav {
  height: var(--navbar-height);
  width: 100px;
  background-color: #35495e;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  color: white;
  display: flex;
  justify-content: start;
  align-items: start;
}

.primaryNav ul {
  margin: 0;
  padding: 20px 10px;
  list-style-type: none;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.primaryNav li {
  list-style: none;
  width: 100%;
  
}

.navLink,
.navLink:focus,
.navLink:visited {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  height: 100%;
  max-height: var(--navbar-height);
  padding: 6px 10px;
  margin-bottom: 10px;
}

.navLink:hover {
  background-color: #243241;
}

.activeNavLink {
  background-color: #202d3a;
}